@use './typography.scss';
@use './variables.scss';
@use '@angular/material' as mat;

@include mat.form-field-overrides((
    error-text-color: red
));

@include mat.snack-bar-overrides((
    container-color: variables.$white,
    container-shape: variables.$corners
));

@include mat.progress-spinner-overrides((
    active-indicator-color: variables.$rajah,
));

.mdc-text-field {
    &--filled:not(&--disabled) {
        background-color: variables.$white !important;
    }
}

.mdc-line-ripple {
    display: none;
}

.mat-mdc-text-field-wrapper {
    border: 1px solid variables.$rajah;
    border-radius: variables.$corners !important;
}

.mdc-floating-label {
    @extend .body-2;
    color: variables.$rajah !important;
}

.mat-mdc-form-field-error-wrapper {
    padding: 0 !important;
}

.mat-mdc-snack-bar-label {
    @extend .body-2;
    text-align: center;
}