$maxHeadingSizeCode: 3;
$maxBodySizeCode: 3;
$maxCaptionSizeCode: 1;

@for $i from 1 through $maxHeadingSizeCode {
    $fontSize: calc(72px * (1 / pow(2, $i - 1)));

    .h#{$i} {
      font-family: 'Poppins', sans-serif !important;
      font-weight: 700 !important;
      font-size: $fontSize !important;
      line-height: 1 !important;
    }
}

@for $i from 1 through $maxBodySizeCode {
    $fontSize: 24px;

    @if $i == 1 {
      $fontSize: 24px;
    } @else if $i == 2 {
      $fontSize: 16px;
    } @else {
      $fontSize: 24px - 8px - (($i - 2) * 4px);
    }
  
    .body-#{$i} {
      font-family: 'Poppins', sans-serif !important;
      font-weight: 400 !important;
      font-size: $fontSize !important;
      line-height: 1 !important;
    }
}

@for $i from 1 through $maxCaptionSizeCode {
    $fontSize: 12px - (($i - 1) * 4px);
  
    .caption-#{$i} {
      font-family: 'Poppins', sans-serif !important;
      font-weight: 700 !important;
      font-size: $fontSize !important;
      line-height: 1 !important;
    }
}